body {
    background: linear-gradient(to bottom, #000000, #1f17ad);
    color: white;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.font {
    font-family: "Montserrat";
}

h1 {
    font-size: 4rem;
    line-height: 1.2;
}

h1 span {
    color: #241ad7;
}

p{
    font-size: 1.25rem;
    margin-bottom: 4.5rem;
}

a {
    color: white;
    background-color: rgba(255, 255, 255, 0);
    text-decoration: none;
    padding: 1rem 1rem; /* altera altura e largura */
    font-weight: 500;
    font-size: 1.5rem;
    border-radius: .5rem;

    transition: background-color 400ms;
}

a:hover {
    background-color: #a4b6e844;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    justify-content: center;
}

@media (width < 40rem) {
    html {
        font-size: 70%;
    }
}

